{{ function_comment }}
int {{ function_name }}(exi_bitstream_t* stream, struct {{ struct_type }}* {{ parameter_name }}{% if generate_xml_output %}, char* xmlOut, size_t xmlOut_size{% endif %}) {
{{ indent }}uint32_t eventCode;
{{ indent }}int error = exi_header_read_and_check(stream);
{%- if generate_xml_output %}

{{ indent }}size_t xmlOut_pos = strlen(xmlOut);
{%- endif %}

{{ indent }}if (error == 0)
{{ indent }}{
{{ indent * 2 }}{{ init_function }}({{ parameter_name }});
{%- if generate_xml_output %}

{{ indent * 2 }}// XML: write XML declaration
{{ indent * 2 }}xml_write(xmlOut, xmlOut_size, &xmlOut_pos, "<?xml version=\"1.0\" encoding=\"UTF-8\"?>", 38);
{%- endif %}

{{ indent * 2 }}error = exi_basetypes_decoder_nbit_uint(stream, {{ bits_to_read }}, &eventCode);
{{ indent * 2 }}if (error == 0)
{{ indent * 2 }}{
{{ indent * 3 }}switch (eventCode)
{{ indent * 3 }}{
{%- for function, parameter, xml_name in decode_functions %}
{{ indent * 3 }}case {{ loop.index0 }}:
{%- if parameter == '' %}
{{ indent * 4 }}// simple type! {{ function }};
{%- else %}
{%- if generate_xml_output and xml_name %}
{{ indent * 4 }}// XML: open tag with xmlns declarations
{%- set xmlns_attrs = [] %}
{%- if xmlns_declarations is defined %}
{%- for prefix, uri in xmlns_declarations %}
{%- set _ = xmlns_attrs.append(' xmlns:' + prefix + '="' + uri + '"') %}
{%- endfor %}
{%- endif %}
{%- set open_tag = '<' + xml_name + xmlns_attrs|join('') + '>' %}
{%- set open_tag_c = open_tag|replace('"', '\\"') %}
{{ indent * 4 }}xml_write(xmlOut, xmlOut_size, &xmlOut_pos, "{{ open_tag_c }}", {{ open_tag|length }});
{%- endif %}
{{ indent * 4 }}error = {{ function }}(stream, &{{ parameter }}{% if generate_xml_output %}, xmlOut, xmlOut_size, &xmlOut_pos{% endif %});
{{ indent * 4 }}{{ parameter }}_isUsed = 1u;
{%- if generate_xml_output and xml_name %}
{{ indent * 4 }}// XML: close tag
{{ indent * 4 }}if (error == 0)
{{ indent * 4 }}{
{{ indent * 5 }}xml_write(xmlOut, xmlOut_size, &xmlOut_pos, "</{{ xml_name }}>", {{ xml_name|length + 3 }});
{{ indent * 4 }}}
{%- endif %}
{%- endif %}
{{ indent * 4 }}break;
{%- endfor %}
{{ indent * 3 }}default:
{{ indent * 4 }}error = EXI_ERROR__UNSUPPORTED_SUB_EVENT;
{{ indent * 4 }}break;
{{ indent * 3 }}}
{{ indent * 2 }}}
{{ indent }}}

{{ indent }}return error;
}
